footer {
  clear: both;
  position: relative;
  height: 30px;
  margin-top: -30px;
  font-family: OpenSans-Regular;
  text-align: center;
  display: none;
}

@media (min-height: 600px) {
  footer {
    display: block;
  }
}
